.navbar-brand img {
  height: 80px;
}

@media (max-width: 992px) {
  .navbar-brand img {
    height: 60px;
  }
}

@media (max-width: 576px) {
  .navbar-brand img {
    height: 50px;
  }
}
.navbar-nav {
  font-size: clamp(1.0rem, 1.2vw, 1.5rem);
}
