<section class="container-fluid p-md-5 py-5">
  <ng-container *ngIf="!selectedBlog">
    <h2 class="fw-bold mb-4 text-center">The Thought Grid</h2>
    <div class="d-flex flex-wrap gap-2 justify-content-center mb-5">
      <button
        *ngFor="let tag of allTags"
        class="btn btn-sm text-capitalize"
        [class.btn-primary]="tag === activeTag"
        [class.btn-outline-primary]="tag !== activeTag"
        (click)="filterByTag(tag)">
        {{ tag }}
      </button>
    </div>
  </ng-container>
  <div *ngIf="!selectedBlog">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col" *ngFor="let post of filteredBlogList">
        <div class="card h-100 shadow-sm btn-outline-primary">
          <img [src]="post.image" class="card-img-top" alt="{{ post.title }}" />
          <div class="card-body text-center">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class=" small">{{ post.date | date: 'longDate' }} | {{ post.author }}</p>
            <div class="mb-2">
              <span class="badge bg-secondary me-1" *ngFor="let tag of post.tags">{{ tag }}</span>
            </div>
            <p class="card-text">{{ post.description }}</p>
            <a [routerLink]="['/blog', post.slug]" class="btn btn-outline-primary btn-sm btn-primary text-light">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedBlog" class="container py-4 px-md-5">
    <button class="btn btn-outline-primary mb-4" routerLink="/blog">
      ← Back to Blogs
    </button>
    <div class="text-center mb-4">
      <h1 class="fw-bold">{{ selectedBlog.title }}</h1>
      <p class="small">
        {{ selectedBlog.date | date: 'longDate' }} &nbsp;|&nbsp; {{ selectedBlog.author }}
      </p>
      <div class="d-flex flex-wrap justify-content-center gap-2 mt-2">
        <span *ngFor="let tag of selectedBlog.tags" class="badge rounded-pill bg-primary-subtle text-primary-emphasis">
          {{ tag }}
        </span>
      </div>
    </div>
    <img [src]="selectedBlog.image"
        class="img-fluid rounded shadow mb-5 mx-auto d-block blog-image"
        alt="{{ selectedBlog.title }}"
        style="max-height: 450px; object-fit: cover;" />
    <div>
      <article [innerHTML]="selectedBlog.content"></article>
    </div>
  </div>
</section>
